.header-link {
    font-size: rem(12);
    color: $c-yd-jet-black;
    display: flex;
    align-items: center;
    cursor: pointer;

    .icon {
        font-size: rem(24);
    }
}

.header-banner {
    background-color: $c-yd-deep-teal-blue;
    z-index: 1;

    .content {
        flex: 1;
        margin-right: 0;
    }

    &__links {
        display: flex;
        align-items: center;
        gap: rem(12);
        flex: 2 0 0;

        @include media-breakpoint-down(sm) {
            display: none;
        }
    }

    &__link {
        display: flex;
        color: $white;
        font-size: rem(16);

        @include hover-and-focus() {
            color: $white;
        }
    }

    &__title {
        flex: 1 1 auto;
    }

    &__title-link {
        color: $white;
        font-size: rem(12);

        @include hover-and-focus() {
            color: $white;
        }
    }

    &__right {
        flex: 2 0 0;
    }
}

.page-main-header {
    position: sticky;
    top: 0;
    z-index: 2;

    .skip {
        display: none;
    }
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: rem(20);
    padding-bottom: rem(20);
    background-color: $white;

    .search {
        &__wrapper {
            flex: 2 0 0;
            display: flex;
            gap: rem(12);
        }

        &__title {
            margin-left: rem(8);
        }
    }

    .logo {
        &__wrapper {
            flex: 1 1 auto;
            max-width: rem(55);
        }

        &__image {
            width: rem(55);
            height: rem(55);
        }
    }

    .actions {
        &__wrapper {
            flex: 2 0 0;
            display: flex;
            gap: rem(20);
            justify-content: flex-end;
            align-items: center;

            @include media-breakpoint-down(sm) {
                gap: rem(12);
            }
        }
    }

    .minicart {
        margin-top: 0;
        vertical-align: auto;

        &__title {
            margin-right: rem(8);
        }

        &-quantity {
            background-color: $c-yd-jet-black;
            width: rem(15);
            height: rem(15);
        }

        .icon {
            margin-bottom: rem(4);

            @include media-breakpoint-down(sm) {
                margin-bottom: 0;
            }
        }
    }

    .navbar-toggler {
        padding: 0;
        border: none;
    }
}

.site-search {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    padding: rem(68) rem(15);
    height: fit-content;
    background-color: $white;

    &__form {
        max-width: rem(650);
        margin: auto;
        position: relative;
    }

    &__search-btn {
        position: absolute;
        top: 50%;
        right: rem(20);
        transform: translate(0, -50%);
        padding: 0;
        font-size: rem(24);
        color: $c-yd-jet-black;
    }

    &__close-btn {
        position: absolute;
        top: rem(20);
        right: rem(20);
        padding: 0;
        font-size: rem(24);
        color: $c-yd-jet-black;

        @include media-breakpoint-down(sm) {
            top: rem(8);
            right: rem(15);
        }
    }

    .search-field {
        background-color: $c-yd-snow-gray;
        border: none;
        color: $c-yd-jet-black;

        &::placeholder {
            color: $c-yd-jet-black;
        }

        &:focus {
            box-shadow: none;
        }
    }

    .suggestions {
        top: 0;
        left: 0;
        width: 100%;
        max-width: rem(400);
        border-color: $c-yd-snow-gray;
        border-radius: 0 0 rem(2) rem(2);
        box-shadow: 0 rem(2) rem(10) 0 rgba($c-yd-jet-black, .2);

        @include media-breakpoint-down(sm) {
            max-width: none;
        }

        @include media-breakpoint-down(xs) {
            display: block;
            position: absolute;
        }
    }
}

