@font-face {
    font-family: "icons";
    src: url('icons.woff2') format('woff2');
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-account:before {
    content: "\f101";
}
.icon-bars:before {
    content: "\f102";
}
.icon-cart:before {
    content: "\f103";
}
.icon-close:before {
    content: "\f104";
}
.icon-cube:before {
    content: "\f105";
}
.icon-dollar:before {
    content: "\f106";
}
.icon-gift-box:before {
    content: "\f107";
}
.icon-menu:before {
    content: "\f108";
}
.icon-search:before {
    content: "\f109";
}
.icon-socials-facebook:before {
    content: "\f10a";
}
.icon-socials-instagram:before {
    content: "\f10b";
}
.icon-socials-pinterest:before {
    content: "\f10c";
}
.icon-socials-tiktok:before {
    content: "\f10d";
}
.icon-socials-twitter:before {
    content: "\f10e";
}
