.cancelation-modal {
    width: 100%;
    max-width: 100%;
    margin: 0;
    border: none;

    @include media-breakpoint-up(lg) {
        max-width: 50%;
        min-width: 500px;
        margin: 0 auto;

        &-wrapper {
            top: 50px;
        }
    }

    .cancelation-list {
        padding: 0;
        margin-bottom: 0.5rem;
        max-height: 300px;
        overflow: hidden scroll;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .cancelation-reason {
        span {
            font-weight: bold;
        }
    }

    .modal {
        &-close {
            border: none;
            background-color: $grey2;
            outline: none;
            font-size: 1.25rem;
            display: flex;
            align-items: center;
            padding-right: 0.5rem;

            span {
                padding-left: 0.5rem;
                font-size: 1.5rem;
            }

            &-wrapper {
                background-color: $grey2;
                text-align: right;
                padding: 0.25rem 1rem 0.5rem;

                // we don't want prettier to break this line
                // prettier-ignore
                border: $modal-content-border-width solid $modal-content-border-color;
                display: flex;
                justify-content: flex-end;
                margin-bottom: 0.5rem;
            }
        }

        &-content {
            padding-bottom: 1rem;
            border: none;
        }

        &-header {
            padding: 0 1rem;
            border: none;
            margin-bottom: 0.5rem;
        }

        &-body {
            // we don't want prettier to break this line
            // prettier-ignore
            border: $modal-content-border-width solid $modal-content-border-color;
            border-radius: 4px;
            margin: 0 0.25rem 1rem;

            @include media-breakpoint-up(md) {
                max-width: 75%;
                margin: 0 auto 1rem;
                width: 100%;
            }
        }

        &-title {
            font-size: 1.5rem;
            padding-left: 0.5rem;
            font-weight: 500;
        }

        &-footer {
            flex-direction: column;
            padding: 0 0.5rem;
            border: none;

            @include media-breakpoint-up(md) {
                max-width: 50%;
                margin: 0 auto;
                width: 100%;
            }
        }
    }

    .item-detail {
        &-title {
            text-transform: capitalize;
            font-weight: bold;
        }

        &-price {
            font-weight: 600;
        }
    }

    .button-wrapper {
        width: 100%;
        margin: 0;
    }

    .button-wrapper + .button-wrapper {
        margin-top: 0.5rem;
    }
}
