// Brand variables

// Styleguide


// brand color palette


// Typography
$base16-14px: 0.875em !default;

// fonts folder emample - static/default/fonts/Euclid-Circular-A-Regular.woff2
// font mixin - font-faces

/* $font-brand-primary: 'Euclid Circular A';
$custom-fonts: (
  "Euclid-Circular-A-Regular":  400,
  "Euclid-Circular-A-SemiBold": 600,
  "Euclid-Circular-A-Bold":     700,
);

$font-family-base: $font-brand-primary, Helvetica, Arial, sans-serif; */

$headline-color:        #212529;
$headline-weight:       700;
